.main-container {
  width: 95%;
  margin: 0 auto 0 auto;
}

.header {
  font-size: 45px;
}

.section h3 {
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.tag {
  margin: 0px;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
}

.info-container {
  background-color: #eee;
  padding: 5px 5px 10px 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}